In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("upwork-jobs.csv")
df.head(1)

,title,link,description,published_date,is_hourly,hourly_low,hourly_high,budget,country
0,Experienced Media Buyer For Solar Pannel and R...,https://www.upwork.com/jobs/Experienced-Media-...,We’re looking for a talented and hardworking a...,2024-02-17 09:09:54+00:00,False,NaN,NaN,500.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53058 entries, 0 to 53057
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           53058 non-null  object
 1   link            53058 non-null  object
 2   description     53058 non-null  object
 3   published_date  53058 non-null  object
 4   is_hourly       44829 non-null  object
 5   hourly_low      22956 non-null  float64
 6   hourly_high     22161 non-null  float64
 7   budget          21873 non-null  float64
 8   country         51917 non-null  object
dtypes: float64(3), object(6)
memory usage: 3.6+ MB

In [3]:
df.isnull().sum()

title                 0
link                  0
description           0
published_date        0
is_hourly          8229
hourly_low        30102
hourly_high       30897
budget            31185
country            1141
dtype: int64

In [4]:
# Fill 'is_hourly' column with mode (most frequent value)
df['is_hourly'].fillna(df['is_hourly'].mode()[0], inplace=True)

In [5]:
# Fill 'hourly_low' column with mean
hourly_low_mean = df['hourly_low'].mean()
df['hourly_low'].fillna(hourly_low_mean, inplace=True)

In [6]:

# Fill 'hourly_high' column with mean
hourly_high_mean = df['hourly_high'].mean()
df['hourly_high'].fillna(hourly_high_mean, inplace=True)

In [7]:


# Fill 'budget' column with mean
budget_mean = df['budget'].mean()
df['budget'].fillna(budget_mean, inplace=True)

# Now the null values in the specified columns should be filled as per your requirements

In [8]:
df.isnull().sum()

title                0
link                 0
description          0
published_date       0
is_hourly            0
hourly_low           0
hourly_high          0
budget               0
country           1141
dtype: int64

In [9]:
len(df)

53058

In [12]:
df.dropna(subset=['country'], inplace=True)

In [13]:
len(df)

51917

In [14]:
df.isnull().sum()

title             0
link              0
description       0
published_date    0
is_hourly         0
hourly_low        0
hourly_high       0
budget            0
country           0
dtype: int64

In [21]:
df.head()

,title,link,description,published_date,is_hourly,hourly_low,hourly_high,budget,country
1,Full Stack Developer,https://www.upwork.com/jobs/Full-Stack-Develop...,Job Title: Full Stack DeveloperWe are seeking ...,2024-02-17 09:09:17+00:00,False,17.467895,41.60805,1100.000000,United States
2,SMMA Bubble App,https://www.upwork.com/jobs/SMMA-Bubble-App_%7...,I need someone to redesign my bubble.io site t...,2024-02-17 09:08:46+00:00,True,10.000000,30.00000,746.263521,United States
3,Talent Hunter Specialized in Marketing,https://www.upwork.com/jobs/Talent-Hunter-Spec...,Join Our Growing Team!We are an innovative com...,2024-02-17 09:08:08+00:00,True,17.467895,41.60805,746.263521,United States
4,Data Engineer,https://www.upwork.com/jobs/Data-Engineer_%7E0...,We are looking for a resource who can work par...,2024-02-17 09:07:42+00:00,False,17.467895,41.60805,650.000000,India
5,SEO for Portuguese Psychologist site,https://www.upwork.com/jobs/SEO-for-Portuguese...,Looking for a SEO who can help me improve my ...,2024-02-17 09:07:41+00:00,True,17.467895,41.60805,746.263521,Portugal

In [16]:
df["title"]=df["title"].str.lower()

In [17]:
df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [20]:
#making them simple 
# Replace cells containing 'logo' with 'logo' and remove extra strings

df['title'] = df['title'].str.replace('.*logo.*', 'Logo', regex=True)
df['title'] = df['title'].str.replace('.*design.*', 'Graphic Designer', regex=True)

df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [21]:
#making them simple 
# Replace cells containing 'logo' with 'logo' and remove extra strings

df['title'] = df['title'].str.replace('.*seo.*', 'SEO', regex=True)

df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [22]:
#making them simple 
# Replace cells containing 'logo' with 'logo' and remove extra strings

df['title'] = df['title'].str.replace('.*video.*', 'Vidoe Editor', regex=True)

df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [28]:
#making them simple 
# Replace cells containing 'logo' with 'logo' and remove extra strings

df['title'] = df['title'].str.replace('.*virtual.*', 'Virtual Assistant', regex=True)





df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [30]:

df['title']=df['title'].str.replace('.*marketing.*','Digital Marketing',regex=True)

df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [31]:

df['title']=df['title'].str.replace('.*data.*','Data Entry',regex=True)

df["title"].value_counts().to_csv('title_counts.csv',header=True)

In [34]:
df.to_csv('upwork-jobs.csv', index=False)